# XDG Directories
Desktop
Documents
Downloads
Images
Imatges
Música
Music
Públic
Public
Vídeos
Videos
Plantilles
Templates

# Config files
.bash_history
.bashrc
.bash_logout
.cache
.config/user-dirs.dirs
.config/mimeapps.list
.config/clipit
.config/dconf
.config/netsurf/Cookies
.config/netsurf/URLs
.config/pulse/cookie
.local/share/nano
.local/share/xorg
.local/share/zeitgeist
.local/share/gvfs-metadata
.local/share/recently-used.xbel
.profile
.sudo_as_admin_successful
.Xauthority*
.xsession-errors*