Desktop
Documents
Downloads
Downloads/*
Images
Imatges
Música
Music
Públic
Public
Vídeos
Videos
Plantilles
Templates
.bash_history
.bashrc
.bash_logout
.cache
.config/user-dirs.dirs
.config/mimeapps.list
.profile
.sudo_as_admin_successful
.Xauthority*
.xsession-errors